@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
button {
  cursor: pointer;
}
#edit {
  padding: 2px 14px;
  background-color: green;
  color: white;
  border-radius: 8px;
  margin-right: 5px;
}
#delete {
  padding: 2px 14px;
  color: white;
  border-radius: 8px;
  background-color: red;
}

@media screen and (max-width: 1200px) {
  input::placeholder,
  label,
  form > button {
    font-size: 14px;
  }
  #edit {
    padding: 1px 10px;
    background-color: green;
    margin-right: 8px;
  }
}

@media screen and (max-width: 576px) {
  input {
    padding: 4px 12px;
    border-radius: 4px;
  }
  label,
  form > button {
    font-size: 12px;
  }
  input::placeholder {
    font-size: 12px;
  }
  #edit {
    padding: 1px 10px;
    background-color: green;
    margin-right: 8px;
  }
}
